*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    di
    }
    .nav-logo{
        height: 50px;
        width: 100px;

    }
    .logo{
        background-image: url(blackamazon.jfif);
        height: 50px;
        background-size: cover;
        width: 100px;
    }
    .border{
        border: 2px solid transparent;
    }
    .border:hover{
        border: 1.5px solid white;
    }
    /**Box2**/
    .add-first{
        color: white;
        font-size: 0.8rem;
        margin-left: 15px;
 }
 .add-sec{
    font-size: 1rem;
    margin-left: 3px;
 }
 .add-icon{
    display: flex;
    align-items: center;
 }
 /**box3**/
 .nav-search{
    display: flex;
    justify-content: space-evenly;

    background-color: orange;
    border-radius: 4px;
 }
 .nav-search:hover{
    border: 2px solid orange;
 }
 .search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
 }
 .search-input{
    width: 500px;
    font-size: 1rem;
     border: none;
 }
 .search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
 }
 /** box4 **/
 span{
   font-size: 0.7rem;
   
 }
 .nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}
/** box6 **/
 .nav-cart i{
      font-size: 30px;   
 }
 .nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
 }
 /** panel **/
 .panel{
    height: 40px;
    background-color: #007185;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
 }
 .panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
 .panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    ;
 }
 /** hero-section **/
 .hero-section{
    background-image: url("mainarea.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
 }
 .hero-msg{
   background-color: white;
   height: 40px;
   color: black;
   font-size: 0.85rem;
   justify-content: center;
   text-align:  center;
   width: 80%;
   margin-bottom: 25px;
   
 }
 .hero-msg a{
color: #007185
 }
 .shop-section{
   display: flex;
   flex-wrap:wrap;
   justify-content: space-evenly;
   background-color: #e2e7e6

 }
 .box{
   height: 250px;
   width: 23%;
   border: 2px solid black;
   padding: 20px 0px 15px;
   margin-top: 15px;
}
.box-image{
   height: 200px;
   background-size: cover;
   background-repeat: no-repeat;
   

}
.box-content{
   margin-left: 10px;
   margin-right: 10px;
   color: #293436;
}
footer{
   margin-top: 15px;
}
.foot-panel{
   background-color:  #007185;
   color: white;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.85rem;
   
}
.foot-panel2{
   background-color: #4a4c4c;
   color: white;
   height: 300px;
   display: flex;
   justify-content: space-evenly;
}
ul{
   margin-top: 20px;
}
ul a{
      display: block;
      font-size: 0.85rem;
      margin-top: 10px;
      color: #dddddd;
}
.foot-panel3{
   background-color: #4a4c4c;
   color: white;
   border-top: 0.5px solid white;
   height: 68px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.logo{
   background-image: url(blackamazon.jfif);
   height: 50px;
   background-size: cover;
   width: 100px;
}
.foot-panel4{
   background-color: black;
   color: white;
   height: 80px;
   font-size: 0.7rem;
   text-align: center;
}
.pages{
   padding-top: 25px;
}
.copyright{
   padding-top: 5px;
}